/*
	Colores Insititucionales
		Azul: rgba(61, 123, 172, 1);
		Celeste: rgba(171, 212, 229, 1);
		Verde: rgba(141, 194, 145, 1);
		Gris Oscuro:rgba(156, 154, 133, 1);
		Gris Claro: rgba(233, 245, 216, 1);
*/

*
	{
		margin: 0;
		padding: 0;
	}

@font-face 
	{
  		font-family: LeagueSpartanBold;
  		src: url(../fonts/LeagueSpartan-Bold.otf);
	}

body
	{
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		background-color:rgba(233, 245, 216, 1);
	}

div.boton
	{
		position: fixed;
		background-color: white;
		border-radius: 8px;
		width: 40px;
		height: 40px;
		display: none;
		align-items: center;
		justify-content: center;
		box-shadow: 0 5px 15px 10px rgba(0,0,0,0.2);
		transition: all 0.5s;
		z-index: 5;
	}

div.boton.mostrar
	{
		display: flex;
	}

div#ant
	{
		top:calc(50vh - 20px);
		left: 20px;
	}

div#ant > p
	{
		margin-right: 2px;
	} 

div#sig
	{
		top:calc(50vh - 20px);
		right: 20px;
	}

div#sig > p
	{
		margin-left: 4px;
	}

div.boton:hover, .presionado
	{
		transform: translateY(10px);
		box-shadow: 0 0px 10px 5px rgba(0,0,0,0.3);
		transition: all 0.5s;
	}

section
	{
		max-width: 600px;
		width: 100%;
	}

article
	{
		width: 100%;
		min-width: 300px;
		height: 100%;
		display: none;
	}

article.mostrar
	{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 300px;
	}

div.info
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: rgba(61, 123, 172, 1);
		padding: 10px 40px;
	}

div.info > h2
	{
		font-family: LeagueSpartanBold;
		margin-bottom: 10px;
		font-size: 1.2em;
	}

div.info > p
	{
		text-align: justify;
		font-family: "Helvetica", sans-serif;
		font-size: 1em;
	}

@media screen and (min-width: 800px)
	{
		section
			{
				max-width: 800px;
				
			}

		article.slide.mostrar
			{
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr;
			}

		div.info > h2
			{
				font-family: LeagueSpartanBold;
				margin-bottom: 20px;
				font-size: 1.5em;
			}

		div.info > p
			{
				font-size: 1.3em;
			}

	}