/*
	Colores Insititucionales
		Azul: rgba(61, 123, 172, 1);
		Celeste: rgba(171, 212, 229, 1);
		Verde: rgba(141, 194, 145, 1);
		Gris Oscuro:rgba(156, 154, 133, 1);
		Gris Claro: rgba(233, 245, 216, 1);
*/

*
	{
		margin: 0;
		padding: 0;
	}

@font-face 
	{
  		font-family: LeagueSpartanBold;
  		src: url(../fonts/LeagueSpartan-Bold.otf);
	}

body
	{
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		background-color:rgba(233, 245, 216, 0.5);
	}

div.boton
	{
		position: fixed;
		color:rgba(171, 212, 229, 1);
		border:2px solid rgba(171, 212, 229, 1);
		border-radius: 8px;
		width: 40px;
		height: 40px;
		display: none;
		align-items: center;
		justify-content: center;
		box-shadow: 0 5px 2px 0px rgba(171, 212, 229, 0.3);
		transition: all 0.5s;
		z-index: 5;
	}

div.boton.mostrar
	{
		display: flex;
	}

div#ant
	{
		top:calc(50vh - 20px);
		left: 5px;
	}

div#ant > p
	{
		margin-right: 2px;
	} 

div#sig
	{
		top:calc(50vh - 20px);
		right: 5px;
	}

div#sig > p
	{
		margin-left: 4px;
	}

div.boton:hover, .presionado
	{
		transform: translateY(10px);
		box-shadow: 0 0 5px 0 rgba(171, 212, 229, 0.3);
		transition: all 0.5s;
	}

section
	{
		max-width: 600px;
		width: 100%;
	}

article
	{
		width: 100%;
		min-width: 300px;
		height: 100%;
		color: rgba(61, 123, 172, 1);
		display: none;
	}

article.mostrar
	{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

div.animacion
	{
		padding: 10px 55px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}

div.animacion > img
	{
		width: 100%;
	}

div.info, div.avisos
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px 55px;
	}

div.avisos
	{
		padding: 10px;
	}

div > h2
	{
		font-family: LeagueSpartanBold;
		margin-bottom: 10px;
		font-size: 0.9em;
	}

div > p
	{
		text-align: justify;
		font-family: "Helvetica", sans-serif;
		font-size: 0.8em;
	}

p.subtitulo
	{
		font-family: LeagueSpartanBold;
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: 0.8em;
	}

div.listado
	{
		background-color: rgba(61, 123, 172, 1);
		color: white;
		border-radius: 10px;
		padding: 10px 10px 10px 10px;
		margin: 10px;
	}

div.listado > p.subtitulo
	{
		margin-top: 0;
	}

div > ul
	{
		font-family: "Helvetica", sans-serif;
		font-size: 0.7em;
	}

div > ul > li
	{
		margin-left: 20px;
	}
div.redes
	{
		grid-column: span 1;
		grid-row: span 2;
		padding: 10px 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

div.links
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 10px 0;
		grid-gap: 20px;
	}

div.links a
	{
		display: flex;
		align-items: center;
		background-color: rgba(61, 123, 172, 1);
		text-decoration: none;
		font-family: "Helvetica", sans-serif;
		color: white;
		box-shadow: 0 5px 15px 10px rgba(0,0,0,0.2);
		padding: 10px;
		border-radius: 10px;
		transition: all 0.5s;
	}

div.links a:hover
	{
		transform: scale(0.9);
		box-shadow: 0 0px 10px 5px rgba(0,0,0,0.3);
		transition: all 0.5s;
	}

div.links a > img
	{
		width: 40px;
		height: 40px;
		align-items: center;
	}

.centrado
	{
		text-align: center;
	}

.logo-prin
	{
		max-width: 400px;
		align-self: flex-end;
	}

div.logos
	{
		margin: 10px 0;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows:1fr 1fr;
		align-items: center;
		justify-content: center;
	}

img.logo
	{
		max-width: 150px;
	}

@media screen and (min-width: 900px)
	{
		div#ant
			{
				left: 40px;
			}

		div#sig
			{
				right: 40px;
			}

		section
			{
				max-width: 900px;
				
			}

		article.slide.mostrar
			{
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr;
			}

		div.animacion
			{
				padding: 10px 20px;
				align-items: center;
				
			}

		div.info
			{
				padding: 10px 20px;
			}

		div.avisos
			{
				flex-direction: row;
			}

		div > h2
			{
				margin-bottom: 20px;
				font-size: 1.3em;
			}

		div > p, div > ul
			{
				font-size: 0.9em;
			}

		div.listado
			{
				margin: 20px;
			}

		div.listado > p.subtitulo
			{
				margin-top: 0;
			}

		p.subtitulo
			{
				font-size: 1em;
				margin-top: 30px;
			}

		div.redes
			{
				grid-column: span 2;
				grid-row: span 1;
			}

		div.logos
			{
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: 1fr;
			}
	}