/*
	Colores Insititucionales
		Azul: rgba(61, 123, 172, 1);
		Celeste: rgba(171, 212, 229, 1);
		Verde: rgba(141, 194, 145, 1);
		Gris Oscuro:rgba(156, 154, 133, 1);
		Gris Claro: rgba(233, 245, 216, 1);
*/

*
	{
		margin: 0;
		padding: 0;
	}

@font-face 
	{
  		font-family: LeagueSpartanBold;
  		src: url(../fonts/LeagueSpartan-Bold.otf);
	}

body
	{
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		background-color:rgba(233, 245, 216, 1);
	}

div.boton
	{
		position: fixed;
		background-color: rgba(255,255,255,0.3);
		border-radius: 8px;
		width: 40px;
		height: 40px;
		display: none;
		align-items: center;
		justify-content: center;
		box-shadow: 0 5px 15px 10px rgba(0,0,0,0.2);
		transition: all 0.5s;
		z-index: 5;
	}

div.boton.mostrar
	{
		display: flex;
	}

div#ant
	{
		top:calc(50vh - 20px);
		left: 10px;
	}

div#ant > p
	{
		margin-right: 2px;
	} 

div#sig
	{
		top:calc(50vh - 20px);
		right: 10px;
	}

div#sig > p
	{
		margin-left: 4px;
	}

div.boton:hover, .presionado
	{
		transform: translateY(10px);
		box-shadow: 0 0px 10px 5px rgba(0,0,0,0.3);
		transition: all 0.5s;
	}

section
	{
		max-width: 600px;
		width: 100%;
	}

article
	{
		width: 100%;
		min-width: 300px;
		height: 100%;
		color: rgba(61, 123, 172, 1);
		display: none;
	}

article:nth-child(odd)
	{
		background-image: url("../img/fondo/cir-b-c.png"), url("../img/fondo/cir-s-v.png");
		background-position: 20vw 50vh, 10vw 10vh;
		background-repeat: no-repeat; 
	}

article:nth-child(even)
	{
		background-image: url("../img/fondo/cir-b-v.png"), url("../img/fondo/cir-s-g.png");
		background-position: 50vw 40vh, 40vw 20vh;
		background-repeat: no-repeat; 
	}

/*
	{
		background-image: url("../img/fondo/cir-b-g.png"), url("../img/fondo/cir-s-c.png");
		background-position: 20vw 10vh, 70vw 30vh;
		background-repeat: no-repeat; 
	}
*/
article.mostrar
	{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

div.animacion
	{
		/*background-color: rgba(61, 123, 172, 1);*/
		padding: 10px 40px;
	}

div.info
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px 40px;
	}

div > h2
	{
		font-family: LeagueSpartanBold;
		margin-bottom: 10px;
		font-size: 1.1em;
	}

div > p
	{
		text-align: justify;
		font-family: "Helvetica", sans-serif;
		font-size: 0.9em;
	}

p.subtitulo
	{
		margin-top: 10px;
	}

div > ul
	{
		background-color: rgba(61, 123, 172, 1);
		color: white;
		border-radius: 10px;
		padding: 10px;
		margin-top: 10px;
		font-family: "Helvetica", sans-serif;
		font-size: 0.9em;
	}

div > ul > li
	{
		margin-left: 20px;
	}
div.redes
	{
		grid-column: span 1;
		grid-row: span 2;
		padding: 10px 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

div.redes a
	{
		display: flex;
		align-items: center;
		background-color: rgba(61, 123, 172, 1);
		text-decoration: none;
		font-family: "Helvetica", sans-serif;
		width: 100%;
		max-width: 300px;
		color: white;
		box-shadow: 0 5px 15px 10px rgba(0,0,0,0.2);
		padding: 10px;
		border-radius: 10px;
		margin-bottom: 30px;
		transition: all 0.5s;
	}

div.redes a:hover
	{
		transform: scale(0.9);
		box-shadow: 0 0px 10px 5px rgba(0,0,0,0.3);
		transition: all 0.5s;
	}

div.redes a > img
	{
		width: 40px;
		height: 40px;
		margin-right: 10px;
		align-items: flex-start;
	}

@media screen and (min-width: 900px)
	{
		section
			{
				max-width: 900px;
				
			}

		article.slide.mostrar
			{
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr;
			}

		div > h2
			{
				font-family: LeagueSpartanBold;
				margin-bottom: 20px;
				font-size: 1.4em;
			}

		div > p, div > ul
			{
				font-size: 1.2em;
			}

		div > p.subtitulo
			{
				margin-top: 30px;
			}

		div.redes
			{
				grid-column: span 2;
				grid-row: span 1;
			}

	}